@model Entity.Models.Sikayet
<style>
        /*Contact sectiom*/
    .content-header{
      font-family: 'Oleo Script', cursive;
      color:#fcc500;
      font-size: 45px;
    }

    .section-content{
      text-align: center;

    }
    #contact{

        font-family: 'Teko', sans-serif;
      padding-top: 60px;
      width: 100%;
      width: 100vw;
      height: 550px;
      background: #3a6186; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color : #fff;
    }
    .contact-section{
      padding-top: 40px;
    }
    .contact-section .col-md-6{
      width: 50%;
    }

    .form-line{
      border-right: 1px solid #B29999;
    }

    .form-group{
      margin-top: 10px;
    }
    label{
      font-size: 1.3em;
      line-height: 1em;
      font-weight: normal;
    }
    .form-control{
        width:200px;
      font-size: 1.6em;
      color: #080808;
    }
    textarea {
        font-size: 1.7em;
        height: 135px;
        width:400px;
        /*margin-top: px;*/
    }

    .submit{
      font-size: 1.1em;
      float: right;
      width: 150px;
      background-color: transparent;
      color: #fff;

    }

</style>

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<section id="contact">
    <div class="section-content">
        <h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Sikayet Formu</span></h1>
        <h3>Şikayetinizi ve nedenleriyle birlikte bize iletebilirsiniz.</h3>
    </div>

    @using (Html.BeginForm())
    {
    <div class="contact-section">
        <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Sikayet Sebebi :")
                    @Html.TextBoxFor((x => x.SikayetSebep), new { @class = "form-control" })
                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Sikayet Mesajı :")
                    @Html.TextAreaFor((x => x.SikayetMesaj))
                </div>
                <div>
                    <input class="btn btn-danger btn-lg" type="submit" />
                </div>
            </div>
        </div>
    </div>
    }
</section>