@{
    ViewBag.Title = "Home Page";
    
}

<h1>Hoşgeldiniz</h1>
<p>Eğitim5 teknoloji ile ilgili haberler, ipuçları ve çeşitli kaynakları bir arada bulunduran açık kaynak kodlu bir demo platformdur. Giriş yapmak için gerekli olan demo hesaplarını <a href="/Account/Login/">burada</a> bulabilirsiniz. Kodları incelemek için <a href="https://github.com/duyguogunc/egitim5/">github alanımıza buradan ulaşabilirsiniz.</a></p>

@Html.Action("SonMakaleler")

@Html.Action("SonKitaplar")
